.articleEditPage {
   max-width: 938px;
   width: 100%;
   box-sizing: border-box;

   padding: 48px 32px;

   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   background-color: #ffffff;
   border-radius: 5px;
}
