.signInPage {
   max-width: 384px;
   width: 100%;

   box-sizing: border-box;
   padding: 48px 36px;

   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   background-color: #ffffff;
   border-radius: 5px;
}
